/* Fix line height for hidden text */
html:not(#ab135)[data-web-ab135="1"] .banner__body-info-content .banner__title {
  white-space: normal;
}

html:not(#ab135)[data-web-ab135="1"] .ab135.banner__body-media {
  align-items: center;
  -ms-display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: var(--media-align);
}

html:not(#ab135)[data-web-ab135="1"]
  .ab135.banner__body-media
  .image__container
  picture
  img {
  max-width: 100%;
  width: auto;
}

/* Padding */
html:not(#ab135)[data-web-ab135="1"]
  edr-section[_nghost-ng-c1460657692=""]
  > section:has(.ab135.banner__body-media) {
  padding-bottom: 0 !important;
}

.sr-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  html:not(#ab135)[data-web-ab135="1"] .ab135.banner__body-media {
    padding: 0;
    justify-content: flex-end;
  }

  html:not(#ab135)[data-web-ab135="1"]
    edr-heading.banner__title.heading.heading--1
    ~ p.banner__description {
    padding: 0;
    justify-content: flex-end;
  }
}
