html:not(#ab158)[data-web-ab158="1"] head:has(link[href="https://www.everydayrewards.co.nz/"]) + body edr-dc-dynamic-content edr-section.anchor-point-3DzE5FSmQN0rQkfgAI5693 > section
{
  background-color: var(--color-secondary--light-grey) !important;
}

html:not(#ab158)[data-web-ab158="1"] head:has(link[href="https://www.everydayrewards.co.nz/"]) + body edr-dc-dynamic-content edr-section.anchor-point-5osXGSUsuMLr5C0QJ1TjG7 > section
{
  background-color: var(--color-secondary--white) !important;
}

/*


GM_addStyle(`
html:not(#ab158)[data-web-ab158="1"] head:has(link[href="https://www-uat.everydayrewards.co.nz/"]) + body edr-dc-dynamic-content edr-section.anchor-point-3DzE5FSmQN0rQkfgAI5693 > section
{
  background-color: var(--color-secondary--light-grey) !important;
}
​
html:not(#ab158)[data-web-ab158="1"] head:has(link[href="https://www-uat.everydayrewards.co.nz/"]) + body edr-dc-dynamic-content edr-section.anchor-point-5osXGSUsuMLr5C0QJ1TjG7 > section
{
  background-color: var(--color-secondary--white) !important;
}
`);


*/
